body {
  font {
    family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    weight: lighter;

    style: italic; // corsivo
  }
}
$my-sizes: (
      p: 1rem,
      h6: 1.35rem,
      h5: 1.5rem,
      h4: 1.65rem,
      h3: 1.8rem,
      h2: 1.9rem,
      h1: 2rem,
    )
    @each $key,
  $value in $sizes {
  .size-#{$key} {
    font-size: $value;
  }
}
