@mixin floating {
  border-radius: 20px;
  border: 2px solid red($color: #d5c5c5);
  box-shadow: rgb(214, 214, 214);
}
@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include centered();
  @include floating();
}

@mixin floatimg($my-shadow: #020e22) {
  border: 0;
  box-shadow: $my-shadow;
}

.imageContainer img {
  @include floatimg(-shadow);
}
@mixin flex-grid($columns) {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 calc(100% / #{$columns});
    max-width: calc(100% / #{$columns});
  }
}
imageContainer {
  @include flex-grid(3);
}
